.header{width: 1000px;height: 70px;margin: 0 auto;}
.logo{float:left;width: 234px;height: 70px;padding-right: 16px;}
/*header_left*/
.header_left{float: left;margin-top: 30px;padding-left: 13px;}
.header_left span{font-size: 14px;font-family: "微软雅黑";padding-right: 9px;}
.header_left a{padding-left: 9px;}

.header_right {padding-top: 30px;}
.header_right span{font-size: 14px;color: #333333;padding-left: 80px;}
.header_right a{font-size: 15px;font-family: "微软雅黑";color: #eb0f1b;}
/*banner*/
.banner{height:524px;background:url(../img/banner.png) no-repeat top center;}
.ban img{width: 1000px;}
.ban{width: 1000px;margin: 0 auto;}
/*背景*/
.banner2{width:100%;background:#6bc5cf;}

.fram{width: 1000px;margin: 0 auto;}
/*第一部分*/
.ban1{background: url(../img/images/cont1_03.png) no-repeat center center;
	width: 1011px; height: 520px;}
.title{font-size: 40px;font-family: "微软雅黑";color: #FFFFFF;font-weight: bold;
		position: absolute;padding-left: 162px;padding-top: 50px;}
.title span{padding-left: 102px;}
.title2{font-size: 28px;font-family: "微软雅黑";font-weight: bold;color: #FFFFFF;
		position: absolute;padding-left: 65px;padding-top: 195px;}
.title3{font-size: 22px;font-family: "微软雅黑";font-weight: bold;color: #FFFFFF;
		position: absolute;padding-left: 230px;padding-top: 410px;cursor: pointer;}
.title4{font-size: 26px;font-family: "微软雅黑";font-weight: bold;color: #1191aa;
		position: absolute;padding-left: 658px;padding-top: 280px;}
.title4 span{color: #f5595d;}
.title5{font-size: 26px;font-family: "微软雅黑";font-weight: bold;color: #1191aa;
		position: absolute;padding-left: 623px;padding-top: 330px;}
.title6{font-size: 20px;font-family: "微软雅黑";font-weight: bold;color: #0f8ca4;
		position: absolute;padding-left: 224px;padding-top: 242px;}
.title6 span{color: #f75b5f;}
.title7{font-size: 15px;font-family: "微软雅黑";color: #0f8ca4;list-style: disc;
		line-height: 26px;position: absolute;margin-left: 150px;margin-top: 285px;}
.title7 span{color: #f5595d;}
.title8{font-size: 20px;font-family: "微软雅黑";font-weight: bold;color:#f5595d ;z-index: 5;
		position: absolute;padding-left: 455px;margin-bottom: 20px;}
/*第二部分  优惠二*/
.ban2{background: url(../img/images/cont2_03.png) no-repeat center center;
	 width: 1001px;height: 400px;margin-left: 11px;}
.con1{font-size: 28px;font-family: "微软雅黑";font-weight: bold;color: #FFFFFF;
		position: absolute;padding-left: 828px;padding-top: 50px;}
.con2{font-size: 28px; font-family: "微软雅黑";color: #efef06;
		position: absolute;padding-left: 139px;padding-top: 284px;}
.con3{color: #244c6e;font-size: 17px ;font-family: "微软雅黑";font-weight: bold;text-align: center;
		position: absolute;padding-top: 215px;padding-left: 312px;}
.con4{color: #244c6e;font-size: 17px ;font-family: "微软雅黑";font-weight: bold;text-align: center;
		position: absolute;padding-left: 515px;padding-top: 210px;}
.con5{color: #244c6e;font-size: 17px ;font-family: "微软雅黑";font-weight: bold;text-align: center;
		position: absolute;padding-left: 721px;padding-top: 210px;}
.con6{font-size: 24px;font-family: "微软雅黑";color: #244c6e;
		position: absolute;padding-left: 400px;padding-top: 318px;}

/*第三部分  2*/
.ban3{background: url(../img/images/cont5_08_05.png) no-repeat center center;
		width: 1020px;height: 702px;margin-left: 13px;}
.rus{font-size: 39px;font-family: "微软雅黑";font-weight: bold;color: #FFFFFF;
		position: absolute;padding-left: 430px;padding-top: 94px;}
.rus span{padding-left: 74px;}
.rus2{font-size: 14px;font-family: "微软雅黑";color: #244c6e;line-height: 25px;
		position: absolute;padding-left: 100px;padding-top: 275px;}

.rus2 span{color: #f84c50;}
.rus3{font-size: 14px; font-family: "微软雅黑";font-weight: bold;color: #244c6e;
		position: absolute;padding-left: 67px;padding-top: 500px;}
.rus4{font-size: 14px; font-family: "微软雅黑";color: #244c6e;
		position: absolute;padding-left: 78px;padding-top: 550px;}
.rus5{font-size: 14px; font-family: "微软雅黑";color: #244c6e;text-align: center;
		position: absolute;padding-left:183px;padding-top: 537px; }
.rus6{font-size: 14px; font-family: "微软雅黑";color: #244c6e;text-align: center;
		position: absolute;padding-left: 331px;padding-top: 537px;}
.rus7{font-size: 14px; font-family: "微软雅黑";color: #244c6e;text-align: center;
		position: absolute;padding-left: 492px;padding-top: 537px;}
.rus8{font-size: 30px; font-family: "微软雅黑";color: #fcaa27;font-weight: bold;cursor: pointer;
		position: absolute;padding-left: 348px;padding-top: 615px;}
.rus8 span{padding-left: 25px;}
/*.rus9{font-size: 37px;font-family: "微软雅黑";color: #f84c50;
		position: absolute;padding-left: 770px;padding-top: 245px;}
.rus10{font-size: 12px;font-family: "微软雅黑";font-weight: bold;color: #244c6e;
		position: absolute;padding-left: 675px;padding-top: 309px;}
.rus11{font-size: 12px;font-family: "微软雅黑";font-weight: bold;color: #244c6e;
		position: absolute;padding-left: 775px;padding-top: 309px;}
.rus12{font-size: 12px;font-family: "微软雅黑";font-weight: bold;color: #244c6e;
		position: absolute;padding-left: 675px;padding-top: 336px;}
.rus13{font-size: 12px;font-family: "微软雅黑";font-weight: bold;color: #244c6e;
		position: absolute;padding-left: 675px;padding-top: 365px;}
.rus14{font-size: 12px;font-family: "微软雅黑";font-weight: bold;color: #244c6e;
		position: absolute;padding-left: 675px;padding-top: 390px;}
.rus15{font-size: 12px;font-family: "微软雅黑";font-weight: bold;color: #244c6e;
		position: absolute;padding-left: 675px;padding-top: 462px;}*/

/*第三部分 图书*/
.ban4{background: url(../img/images/cont4_03_08.png) no-repeat center center;
width:1032px;height:685px;margin-left: -20px;}
.boo{font-size: 22px;font-family: "微软雅黑";color: #1191aa;
		position: absolute;padding-left: 205px;padding-top: 252px;}
.boo span{color: #f6555c;}
.boo1{font-size: 40px;font-family: "微软雅黑";color: #FFFFFF;
		position: absolute;padding-left: 254px;padding-top: 79px;}
.boo2{font-size: 16px;font-weight: bold;font-family: "微软雅黑";color: #1191aa;
		position: absolute;padding-left: 615px;padding-top: 380px;}
.boo2 span{color: #f6555c;}
.boo3{font-size: 16px;font-family: "微软雅黑";color: #1191aa;text-indent: 35px;line-height: 33px;
		position: absolute;padding-left: 613px;padding-top: 420px;}
.boo4{font-size: 26px;font-family: "微软雅黑";font-weight: bold;color: #FFFFFF;
		position: absolute;padding-left: 660px;padding-top: 576px;cursor: pointer;}


/*第四部分 更多*/
.ban5{background: url(../img/images/cont5_11.png) no-repeat center center;
		width: 1001px;height: 481px;margin-left: 10px;}

.mor{font-size: 24px;font-family: "微软雅黑";font-weight:bold;color: #244c6e;
		position: absolute;padding-left: 121px;padding-top: 230px;}
#dianji{height: 165px;float: left;margin-top: 270px;}		
#dianji li{line-height: 42px;}	
#dianji li a:hover{color: #65b5c2;}

#dianji a{padding:30px 40px;}

#id0{font-size: 18px;font-family: "微软雅黑";color: #244c6e;cursor: pointer;
		padding-left: 112px;}
#id0 a:hover{background:url(../img/images/images/cont16_12.png) no-repeat -10px 23.2px ;
			}
			
#id1{font-size: 18px;font-family: "微软雅黑";color: #244c6e;cursor: pointer;
		padding-left: 112px;}
#id1 a:hover{background:url(../img/images/images/cont16_13.png)	 no-repeat -10px 23.2px ;
			}		
			
#id2{font-size: 18px;font-family: "微软雅黑";color: #244c6e;cursor: pointer;
		padding-left: 112px;}
#id2 a:hover{background:url(../img/images/images/cont16_15.png)	 no-repeat -10px 22px ;
			}		
		
#id3{font-size: 18px;font-family: "微软雅黑";color: #6bc5cf;cursor: pointer;
		padding-left: 112px;}

/*right*/
.lun{border: 1px solid #244C6E;width: 292px;height: 165px;
		position: absolute;margin-left: 275px;margin-top: 258px;
		/*margin-left:33px ;*/}
.lun2{border: 1px solid #244C6E;width: 292px;height: 165px;
		position: absolute;margin-left: 583px;margin-top: 258px;
		/*margin-left: 340px;*/}



/*第五部分 运营商。。*/
.ban6{background:url(../img/images/cont6_03.png) no-repeat center center;
		width: 1003px;height: 598px;margin-left: 8px;}
.ope{font-size: 51px;font-family: "微软雅黑";font-weight: bold;color:#6bc5cf;
		position: absolute;padding-left: 310px;padding-top: 94px;}
.ope2{width: 833px;height: 285px;position: absolute;margin-left: 83px;margin-top: 230px;
		border:1px solid #3d3d3e;border-collapse: collapse;text-align: center;}
.tab{background: #244c6e;color: #FFFFFF;font-size: 14px;font-family: "微软雅黑";font-weight: bold;
		}
.tab2{color: #212121;font-size: 12px;font-family: "微软雅黑";}
.tab th{
	text-align: center
}
/*第六部分 footer*/
.ban7{background: url(../img/images/cont7_03.png) no-repeat center center;
width: 1002px;height: 569px;margin-left: 10px;}
.foot{font-size: 16px;color: #000000;font-family: "微软雅黑";text-align: center;padding-top: 518px;
		}

.ban8{width: 1001px;height: 438px;background: #6bc5cf;}

/*侧边  导航*/
.nav{background: url(../img/images/ce_05.png) no-repeat center center;width: 233px;height: 282px;
		position: fixed;right: 10px;top: 300px;}
.right-btn1{font-size: 26px;font-family: "微软雅黑";color: #FFFFFF;
		padding-left: 55px;padding-top: 10px;}

.oli a{font-size: 20px;font-family: "微软雅黑";font-weight: bold;color: #244c6e;
		position:absolute;padding-left: 75px;padding-top: 30px;}
.oli2 a{font-size: 20px;font-family: "微软雅黑";font-weight: bold;color: #244c6e;
		position:absolute;padding-left: 75px;padding-top: 73px;}
.oli3 a{font-size: 20px;font-family: "微软雅黑";font-weight: bold;color: #244c6e;
		position:absolute;padding-left: 75px;padding-top: 117px;}		
.oli4 a{font-size: 20px;font-family: "微软雅黑";font-weight: bold;color: #244c6e;
		position:absolute;padding-left: 75px;padding-top: 160px;}

